// contrast palette for accessibility (see https://kdesign.co/blog/accessible-color-palettes-for-stunning-user-friendly-designs/)

/* Coastal Breeze */
$bludk: #0a2e4e !default; // use with white text
$blu: #0077b6 !default; // use with white text
$sky: #bfd7ea  !default; // use with dark text
$coral: #fa7268  !default; // use with white text
$pnk: #f1b7a5 !default; // use with dark text
$pwd: #f8f9fa !default; // use with white text
$txt: #3F3F3F !default;

/* vintage charm */
$berry: #8b0000 !default;
$romantic: #ffccb5 !default;
$gold: #daa520 !default;
$grn: #839584 !default;
$champagne: #faebd7  !default;
$cocoa: #4f4141 !default;

/* vintage charm */
$berry: #8b0000 !default;
$romantic: #ffccb5 !default;
$gold: #daa520 !default;
$grn: #839584 !default;
$champagne: #faebd7  !default;
$cocoa: #4f4141 !default;

